/* BELOW 1440px */

@media (max-width: 90em) {
  .schedule-hours {
    font-size: 2.4rem;
  }
}

/* BELOW 1328px (smaller monitor) */

@media (max-width: 83em) {
  .schedule-icon {
    width: 5.4rem;
    height: 5.4rem;
  }
}
